@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.phaser{
  position: absolute;
  top: 0;
  left: 0;
  /* width: calc(100% - 260px);
  height: calc(100% - 90px); */
}

canvas {
  width: 100%;
  height: 100%;
  touch-action : none;
  -ms-touch-action : none;
}
/*
#root {
  display: flex;
  margin: 0;
} */
/*
#phaser {
  width: 600px;
  height: 400px;
  outline: 1px solid #3b98b0;
} */