/*
  CSS RESET
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
body{
  /* overflow: hidden; */
}
.App{
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
}
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* pp */
/* body canvas{
  width: calc(100% - 260px) !important;
} */

.inputBox input::placeholder{
  text-align: center;
}
#startBtn{
  transition: all 0.3s;
}

#startBtn:hover{
  box-shadow: 0px 0px 20px 6px rgb(193 236 190 / 30%);
}

.modal-section{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right-bar{
  position: absolute;
  left: 100%;
  top: 0;
  width: 260px;
  height: calc(100% - 90px);
  background-color: #839aa7;
  transform: translateX(0px);
  transition: all 500ms ease 0s;
}

.right-bar-on{
  transform: translateX(-260px);
}

.ui-section{
  background: url(/public/assets/start_bg.gif);
}

/* video box */

#test{
  width: 100%;
  padding: 1em 0;
  background-color: rgba(0, 0, 0, 0.2);
  max-height: 200px;
}

.videoBox{
  border-radius: 2em;
  object-fit: fill;
  margin: 0 1em;
}